// Typography
$font-family-body: 'Tahoma', sans-serif;

// Color
$bg-primary-color: #FFFFFF;
$bg-sub-color: #10b531;
$bright-blue: #84abe8;
$error-color: red;
$main-text-color: #303030;
$dark-gray: #1e1e1e;
$text-color-dark: #303030;
$menu-active-color: #059121;
$cart-color: #FFC220;
$bg-body-header-color: #bbfcc8;

// Global margin
$body-header-padding: 20px 0px;
$header-padding: 20px 30px;
$header-height: 50px;
$bottom-height: 50px;
$side-bar-width: 50px;
$side-bar-width-toggling: 200px;



$font-size-base: 16px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra: 20px;
$line-height-base: 1.2;
